* {
	font-family: "sans-serif";
	color: white;
}

body {
	margin: 10px;
	min-height: 150vh;
	background-color: #333333;
	display: grid;
	grid-template:
		"header header header header header" 150px
		"...... ...... ...... ...... ......" 5px
		"left   ...... center ...... right " 1fr
		"...... ...... ...... ...... ......" 5px
		"footer footer footer footer footer" 150px
		/200px 5px 1fr 5px 400px;
}

header {
	grid-area: header;
	border-radius: 10px;
	border: 2px solid white;
}

.title {
	display: flex;
	text-align: center;
	line-height: 140px;
	margin: 5px;
}

.title_h1 {
	margin: 0;
	font-size: 4em;
	text-shadow: 1px 0 10px lightgray;
}

.title_image {
	width: 120px;
	height: 120px;
	margin: auto 35px;
	filter: invert(100%);
}

.menu {
	text-align: center;
	font-size: 2em;
	margin: 10px 0;
	border-radius: 10px;
	color: red;
	text-shadow: 2px 0 10px lightgray;
}

.nav {
	text-align: center;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav li {
	border-radius: 10px;
	border: 2px solid white;
	box-shadow: 0 0 10px black;
	background-color: lightslategray;
	margin: 5px 3px;
}

.nav li:active {
	box-shadow: 0 0 0 black;
}

.nav li:hover {
	background-color: lightsteelblue;
}
.nav li a {
	display: block;
	padding: 0 1fr;
	text-decoration: none;
}

nav {
	grid-area: left;
	border-radius: 10px;
	border: 2px solid white;
}

main {
	grid-area: center;
	border-radius: 10px;
	border: 2px solid white;
	padding: 20px;
}

main h3 {
	margin: 20px auto;
	text-align: center;
}

.sub_title {
	color: dodgerblue;
}

.main_temp {
	text-align: center;
	margin: 20px auto;
	border-radius: 10px;
	border: 2px solid white;
	padding: 10px 20px;
}

.main_dl_button {
	display: inline-block;
	border-radius: 5px;
	background-color: cornflowerblue;
	padding: 10px 30px;
	margin: 10px auto;
}

aside {
	grid-area: right;
	border-radius: 10px;
	border: 2px solid white;
	padding: 10px;
}

.search > form > input {
	background-color: #333333;
}

footer {
	grid-area: footer;
	border-radius: 10px;
	border: 2px solid white;
	padding: 20px;
}

@media screen and (max-width: 1000px) {
	body {
		grid-template:
			"header" 150px
			"......" 5px
			"left  " 100px
			"......" 5px
			"center" 1fr
			"......" 5px
			"right " 50px
			"......" 5px
			"footer" 150px;
	}

	nav,
	.nav {
		display: flex;
	}

	.menu {
		margin: auto 20px;
	}

	.nav li {
		width: 100px;
		margin: auto 3px;
	}

	main h3 {
		margin: 20px auto;
		font-size: 2em;
		text-align: center;
	}
}

.none_a_bar {
	text-decoration: none;
}
